@charset "UTF-8";
body {
    background-color: rgba(112, 180, 155, 0.46); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: justify;
}

h1 {
    color:aqua; 
    background-color: burlywood;
}

h2 {
    color: red; 
    font-size: 25px;
}

p {
    color: blue; 
    text-align: justify;
}